.home__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 100vh;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  .hero__home {
    position: relative; 
    text-align: center; 
    margin: 0; 
    padding: 0; 
    height: 100vh; 
    width: 100vw; 
    overflow: hidden; 
  }
  
  
  .home__header {
    font-size: 3rem;
    padding: 1rem;
    margin-top: 5rem;
    position: absolute; 
    top: 10%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    text-shadow: 
      2px 2px 4px var(--HOVER-COLOR),  
      0px 0px 10px var(--HOVER-COLOR),  
      0px 0px 20px var(--HOVER-COLOR),  
      0px 0px 30px var(--HOVER-COLOR);
    z-index: 1; 
  }
  
  .hero__img {
    position: absolute;
    width: 100%;
    height: 100%; 
    object-fit: cover;
    display: block; 
    margin: 0; 
    padding: 0; 
  }
  
  .home__img{
    border-radius: 20%;
    object-fit: cover;
    margin-top: 1rem;
  
  }
  
  .home__button{
    background-color: var(--BG-COLOR);
    color: var(--BTN-COLOR);
    margin-top: 3rem;
    text-decoration: none;
    padding: 1rem;
    border-radius: var(--BORDER-R);
    font-size: 1.4rem;
    cursor: pointer;
    width: 240px;
    box-shadow: var(--BOX-SH);
    
    
  }
  
  .home__button:hover{
    color: BLACK;
    background-color: var(--HOVER-COLOR);
    
  }
  .home__button a{
    text-decoration: none;
    color: inherit;
    margin-bottom: 2rem;
  }
  
  .home__button a:hover{
    color: black;
  
  }
    
  
  