/* <<!!VARIABLES!!>> */
:root{
  --BG-COLOR: #333;
  --HOVER-COLOR: #1abc9c;

}



/* <<!!HEADER!!>> */

.header{
 
    background-color: var(--BG-COLOR);
    padding: 1rem 0; 
    position: sticky; 
    top: 0;
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    transition: padding 0.3s, background-color 0.3s, box-shadow 0.3s; 

 
}

.header__ul{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 1rem;
}

.header a{

  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #fff;
  transition: color 0.3s;
  
}

.header a:hover{
  color: var(--HOVER-COLOR);
  text-shadow: 0 0 10px rgba(26, 188, 156, 0.7);
 
  
}

main{
  align-items: center;
  align-content: center;
  align-self: center;
}
